nav img {
  margin: 0;
  padding: 0;
  margin-top: 3vw;
  margin-left: 4vw;
  height: 12vw;
}

#item_menu {
  margin-top: 7vw;
  margin-left: 4vw;
}

.opcion_menu {
  margin-right: 5vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #0f2441;
}
.opcion_menu:hover {
  color: #c7b300;
}

#navbarDropdown {
  margin-right: 5vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #0f2441;
}
#navbarDropdown:hover {
  color: #c7b300;
}

#social {
  margin-right: 4vw;
}

.dropdown-item {
  font-weight: 600;
  font-size: 1.2vw;
  color: #646464;
}
.dropdown-item:hover {
  color: #0f2441;
}

#cont_smenu {
  width: 17vw;
  left: 0;
  margin-top: 3.55vw;
  background-color: rgba(226, 226, 226, 0.87);
  border-radius: 0vw;
  box-shadow: none;
  border: none;
}

.item_smenu {
  font-size: 1.2vw;
  font-weight: 600;
  color: #646464;
}
.item_smenu:hover {
  color: #0f2441;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 2vw;
  height: 2vw;
  margin: 0;
  border-radius: 50%;
  border: 0;
  background: transparent;
}

ol.carousel-indicators li {
  background: rgba(255, 255, 255, 0.39);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

ol.carousel-indicators li.active {
  background: yellow;
}

.linv {
  height: 5vw;
  width: 2px;
  background-color: #c7b300;
  margin-left: 2.5vw;
}

.pregunta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3vW;
  color: #0f2441;
  margin-left: 5vw;
  font-weight: 500;
}

.titulo {
  display: flex;
  flex-direction: row;
  margin-top: 5.5vw;
}

p {
  display: flex;
  justify-content: left;
  font-size: 1.5vW;
  font-weight: 400;
  color: #0f2441;
  font-weight: 500;
}

.cont-stitle {
  display: flex;
  flex-direction: row;
  margin-top: 5.5vw;
  color: #0f2441;
}

.vertl {
  max-height: 5vw;
  width: 2px;
  background-color: #0f2441;
  justify-content: center;
  margin-left: 3.3vw;
}

.title {
  margin-left: 2.5vw;
  font-size: 3vW;
  font-weight: 500;
}

.parrafo {
  margin-left: 4.9vw;
  color: #646464;
}

.info_1 {
  margin-bottom: 1vw;
  margin-left: 6vw;
  width: 90vw;
  color: #646464;
}

.prod {
  position: relative;
}

.img_fondo {
  background-image: url("../img/foto te ayudamos en.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vw;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 576px) {
  .img_fondo {
    margin-bottom: 46vw;
  }
}
@media only screen and (min-width: 576px) {
  .img_fondo {
    margin-bottom: 46vw;
  }
}
@media only screen and (min-width: 768px) {
  .img_fondo {
    margin-bottom: 13vw;
  }
}
@media only screen and (min-width: 992px) {
  .img_fondo {
    margin-bottom: 13vw;
  }
}
@media only screen and (min-width: 1200px) {
  .img_fondo {
    margin-bottom: 13vw;
  }
}
@media only screen and (min-width: 1366px) {
  .img_fondo {
    margin-bottom: 13vw;
  }
}
#cont_text_prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.title_prod {
  font-size: 4vW;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

#text_prod {
  margin-bottom: 1vw;
}

#cards {
  bottom: 0;
  position: absolute;
  height: 20vw;
}

.cont_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 30vw;
  height: 30vw;
  margin-top: 3vw;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.lin {
  width: 3px;
  height: 100%;
  background-color: #c7b300;
  position: absolute;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  text-align: center;
  margin-top: 3vw;
}

.logo_card {
  width: 14vw;
}

.icon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cont_alianza {
  background-image: url("../img/foto aliados estrategicos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#title_alianza {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#titulo_aliados {
  margin-top: 3vw;
  font-size: 4vw;
  color: white;
  margin-bottom: 2vw;
}

#cont_ali {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#img_ali1 {
  height: 20vw;
  margin-bottom: 3vw;
}

@media only screen and (max-width: 600px) {
  #img_ali1 {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 600px) {
  #img_ali1 {
    margin-left: 15vw;
  }
}
#img_ali2 {
  height: 20vw;
  margin-bottom: 3vw;
}

@media only screen and (max-width: 600px) {
  #img_ali2 {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 600px) {
  #img_ali2 {
    margin-right: 15vw;
  }
}
#integrantes {
  background-color: #d8d8d8;
}

#cont_integrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title_integrantes {
  margin-top: 3.5vw;
  font-size: 4vw;
  color: #0f2441;
}

.cont_card_integrantes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card_integrantes {
  margin-top: 2vw;
  width: 29vw;
  height: 32vw;
  margin-bottom: 5vw;
}

.lin_integrantes {
  width: 100%;
  height: 0.5vw;
  background-color: #0f2441;
}

.img_integrantes {
  background-image: url("../img/foto nuestro equipo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.text_img {
  color: white;
  margin-bottom: 0.5vw;
}

.fondo_testimonios {
  background-image: url("../img/mereces abogados confiables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#cont_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title_testimonios {
  font-size: 4vw;
  color: #c7b300;
  margin-top: 2vw;
}

#contenedor_testimonios {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0px;
}

#lin_testimonios {
  width: 0.2vw;
  height: 4vw;
  background-color: #c7b300;
  margin-bottom: 6vw;
}

#title_testimonios {
  font-size: 3.5vw;
  font-weight: 700;
  color: white;
  margin-left: 2vw;
}

.cont_testimonio {
  background-color: white;
  margin-top: 1.5vw;
  margin-bottom: 2vw;
}

.carousel-testimonio {
  margin-left: 1.5vw;
}

.testimonio {
  margin-top: 1.5vw;
  margin-bottom: 2vw;
  text-align: left;
  color: #646464;
}

.autor {
  margin-bottom: 0.2vw;
  text-align: left;
  color: #646464;
}

.posicion {
  font-size: 1.2vw;
  text-align: left;
  color: #646464;
  margin-bottom: 1.5vw;
}

.contactanos #lin_contacto {
  width: 0.19vw;
  height: 3.5vw;
  background-color: #c7b300;
}
.contactanos #title_contacto {
  font-size: 2.5vw;
  font-weight: 650;
  margin-left: 1.5vw;
  margin-bottom: 0px;
}
.contactanos #cont_title_contacto {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactanos #title_empresa {
  width: 17.5vw;
  margin-left: 5vw;
}
.contactanos .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5vw;
}
.contactanos .text_contacto {
  margin-bottom: 0px;
  margin-left: 1vw;
  color: #646464;
}
.contactanos .non_contacto {
  margin-bottom: 0px;
  margin-left: 1vw;
  color: #646464;
}
.contactanos .icon_contacto {
  font-size: 2.5vw;
  color: #646464;
}
.contactanos .contacto {
  margin-bottom: 3vw;
  margin-top: 3vw;
}
.contactanos .contenedor_datos {
  z-index: 1;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}
.contactanos .contenedor_datos .container {
  margin-left: 1vw;
  margin-right: 3vw;
}
.contactanos .mapa_ubicacion {
  padding-left: 0vw;
  padding-right: 0vw;
}
.contactanos #mapa {
  height: 100%;
  width: 100%;
}

.atencion {
  background-color: #d8d8d8;
}

#text1_atencion {
  margin-top: 2vw;
  text-align: right;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
}

#text2_atencion {
  text-align: right;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
}

#text3_atencion {
  margin-top: 1vw;
  text-align: right;
  font-size: 1.5vw;
  font-weight: 700;
  color: #0f2441;
  margin-bottom: 3vw;
}

#social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social_atencion {
  display: block;
  margin: auto;
}

.vl_icon {
  width: 0.15vw;
  height: 4vw;
  background-color: #0f2441;
  margin-left: 1.8vw;
}

#icon_email {
  font-size: 2.3vw;
  color: #0f2441;
  padding: 0;
}

#icon_face {
  margin-left: 1.8vw;
  font-size: 1.5vw;
  color: #0f2441;
  padding: 0;
}

#icon_what {
  margin-left: 1.8vw;
  font-size: 2vw;
  color: #0f2441;
  padding: 0;
}

.footer {
  color: white;
  background-color: #0f2441;
  font-size: 1.5vw;
  font-weight: 600;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo_info {
  background-image: url("../img/foto 1 slider.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cont_qs {
  background-color: #2e3f55e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pregunta {
  color: white;
  font-size: 3vw;
  font-weight: 600;
  margin-top: 15vw;
  margin-bottom: 20vw;
  margin-left: 4vw;
}

#text_qs {
  background-color: rgba(226, 226, 226, 0.87);
}

#title_text_qs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
  font-size: 1.9vw;
  font-weight: 750;
}

.text1_qs {
  font-size: 1.5vw;
  font-weight: 500;
  color: #646464;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont_text1_qs {
  width: 53vw;
  margin-left: 2vw;
}

.cont_mv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.title_mv {
  font-size: 3vw;
  color: #0f2441;
  margin-top: 2vw;
}

.text_mv {
  margin-top: 1vw;
  font-size: 1.5vw;
  font-weight: 600;
  color: #0f2441;
  margin-bottom: 2vw;
  width: 69vw;
}

#logo_mv {
  height: 7vw;
}

.equipo {
  background-image: url("../img/fondo nuestro equipo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipo #title_equipo {
  background-color: white;
  width: 35vw;
  height: 7vw;
  font-size: 3vw;
  font-weight: 480;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f2441;
  margin-bottom: 2.5vw;
}
.equipo .fondo_col1 {
  background-color: #2e3f55e3;
  display: flex;
  justify-content: center;
}
.equipo .contenedor_integrante {
  margin-top: 6.5vw;
  width: 30vw;
  height: 37vw;
  margin-bottom: 6vw;
  margin-left: 6vw;
}
.equipo .foto_integrante {
  background-image: url("../img/foto nuestro equipo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.equipo .line_superior_foto {
  height: 0.5vw;
  width: 100%;
  background-color: #c7b300;
}
.equipo .nombre_posicion_integrante {
  color: white;
  font-size: 2vw;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1vw;
}
.equipo .fondo_col2 {
  padding-left: 0vw;
}
.equipo .presentacion_integrante {
  background-color: white;
  left: 0vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 37vw;
  margin-top: 6.5vw;
}
.equipo .contenedor_texto_presentacion {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.equipo .texto_presentacion {
  width: 42vw;
  margin-bottom: 1vw;
}
.equipo .fondo_col3 {
  padding-right: 0vw;
}
.equipo .presentacion_integrante2 {
  background-color: white;
  position: absolute;
  right: 0px;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 37vw;
  margin-top: 6.5vw;
}
.equipo .fondo_col4 {
  background-color: #2e3f55e3;
  display: flex;
  justify-content: center;
}
.equipo .contenedor_integrante2 {
  margin-top: 6.5vw;
  width: 30vw;
  height: 37vw;
  margin-bottom: 6vw;
  margin-right: 6vw;
}
.equipo .foto_integrante2 {
  background-image: url("../img/foto nuestro equipo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
