.barra_navegacion .logo_empresa {
  margin: 0;
  padding: 0;
  margin-top: 3vw;
  margin-left: 4vw;
  height: 12vw;
}
.barra_navegacion #item_menu {
  margin-top: 7vw;
  margin-left: 9vw;
}
.barra_navegacion .opcion_menu {
  margin-right: 5vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #0f2441;
}
.barra_navegacion .opcion_menu:hover {
  color: #e9e600;
}
.barra_navegacion #navbarDropdown {
  margin-right: 5vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #0f2441;
}
.barra_navegacion #navbarDropdown:hover {
  color: #e9e600;
}
.barra_navegacion .dropdown-item {
  font-weight: 600;
  font-size: 1.2vw;
  color: #464646;
}
.barra_navegacion .dropdown-item:hover {
  color: #0f2441;
}
.barra_navegacion #cont_smenu {
  width: 17vw;
  left: 0;
  margin-top: 3.55vw;
  background-color: rgba(226, 226, 226, 0.87);
  border-radius: 0vw;
  box-shadow: none;
  border: none;
}
.barra_navegacion .item_smenu {
  font-size: 1.2vw;
  font-weight: 600;
  color: #464646;
}
.barra_navegacion .item_smenu:hover {
  color: #0f2441;
}
.barra_navegacion #social {
  margin-right: 7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.barra_navegacion .social_atencion {
  display: block;
  margin: auto;
}
.barra_navegacion .vl_icon {
  width: 0.15vw;
  height: 4vw;
  background-color: #0f2441;
  margin-left: 1.8vw;
}
.barra_navegacion #icon_email {
  font-size: 2.3vw;
  color: #0f2441;
  padding: 0;
}
.barra_navegacion #icon_face {
  margin-left: 1.8vw;
  font-size: 1.5vw;
  color: #0f2441;
  padding: 0;
}
.barra_navegacion #icon_what {
  margin-left: 1.8vw;
  font-size: 2vw;
  color: #0f2441;
  padding: 0;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 2vw;
  height: 2vw;
  margin: 0;
  border-radius: 50%;
  border: 0;
  background: transparent;
}

ol.carousel-indicators li {
  background: rgba(255, 255, 255, 0.39);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

ol.carousel-indicators li.active {
  background: yellow;
}

.informacion .contenedor_pregunta {
  margin-top: 2em;
}
.informacion .col_linea {
  padding-right: 0px;
}
.informacion .columna_pregunta {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .informacion .columna_pregunta {
    padding-right: 0px;
  }
}
.informacion .linv {
  height: 25px;
  width: 4px;
  background-color: #e9e600;
}
.informacion .pregunta {
  text-align: justify;
  color: #0f2441;
  font-weight: 600;
  margin-left: 2.2vw;
  font-size: 1.89vw;
}
@media only screen and (max-width: 768px) {
  .informacion .pregunta {
    font-size: 19px;
  }
}

@media only screen and (max-width: 576px) {
  .contenedor_texto_informativo .col_texto {
    padding-left: 0px;
  }
}
.contenedor_texto_informativo .texto_informacion .info_1 {
  margin-bottom: 1vw;
  width: 100%;
  color: #464646;
  font-size: 1em;
  font-weight: 600;
  line-height: 16px;
  text-align: justify;
}
@media only screen and (max-width: 576px) {
  .contenedor_texto_informativo .texto_informacion .info_1 {
    margin-left: 6px;
  }
}
@media only screen and (max-width: 768px) {
  .contenedor_texto_informativo .texto_informacion .info_1 {
    font-size: 15px;
  }
}

.mision_vision p {
  display: flex;
  justify-content: left;
  font-size: 15px;
  font-weight: 500;
  color: #0f2441;
}
.mision_vision .columna_mision {
  padding-left: 0px;
}
.mision_vision .columna_vision {
  padding-left: 0px;
}
.mision_vision .margen {
  padding-right: 0px;
}
.mision_vision .cont-stitle {
  display: flex;
  flex-direction: row;
  margin-top: 5.5vw;
  color: #0f2441;
}
.mision_vision .vertl {
  height: 22px;
  width: 4px;
  background-color: #0f2441;
  justify-content: center;
}
.mision_vision .title {
  font-size: 17px;
  font-weight: 600;
  margin-left: 2.2vw;
  margin-right: 3vw;
}
.mision_vision .parrafo {
  color: #464646;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  text-align: justify;
  margin-left: 2.6vw;
}

.prod {
  position: relative;
}
.prod .img_fondo {
  background-image: url("../image/foto_te_ayudamos_en.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vw;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .prod .img_fondo {
    margin-bottom: 110vw;
  }
}
@media only screen and (min-width: 576px) {
  .prod .img_fondo {
    margin-bottom: 100vw;
  }
}
@media only screen and (min-width: 768px) {
  .prod .img_fondo {
    margin-bottom: 30vw;
  }
}
@media only screen and (min-width: 992px) {
  .prod .img_fondo {
    margin-bottom: 18vw;
  }
}
@media only screen and (min-width: 1200px) {
  .prod .img_fondo {
    margin-bottom: 13vw;
  }
}
@media only screen and (min-width: 1366px) {
  .prod .img_fondo {
    margin-bottom: 8vw;
  }
}
.prod #cont_text_prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.prod .title_prod {
  font-size: 30px;
  font-weight: 600;
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: #0f2441;
}
.prod #text_prod {
  margin-bottom: 1vw;
  font-size: 1em;
  font-weight: 600;
  line-height: 16px;
  color: #464646;
}
@media only screen and (max-width: 768px) {
  .prod #text_prod {
    font-size: 15px;
  }
}
.prod #cards {
  bottom: 0;
  position: absolute;
  height: 20vw;
}
.prod .cont_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prod .card {
  width: 274px;
  height: 285px;
  margin-top: 40px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  margin-right: 15px;
}
.prod .card:hover {
  background-color: #e9e600;
}
@media only screen and (max-width: 576px) {
  .prod .card {
    margin-top: 50px;
  }
}
.prod .lin {
  width: 3px;
  height: 100%;
  background-color: #e9e600;
  position: absolute;
}
.prod .text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #0f2441;
  text-align: center;
  margin-top: 3vw;
  font-weight: 500;
}
.prod .logo_card {
  width: 100px;
  margin-top: 2vw;
}
.prod .icon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cont_alianza {
  background-image: url("../image/foto_aliados_estrategicos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#cont_alianza #title_alianza {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#cont_alianza #titulo_aliados {
  margin-top: 3vw;
  font-size: 30px;
  color: white;
  margin-bottom: 2vw;
  font-weight: 600;
}
#cont_alianza #cont_ali {
  display: flex;
  flex-direction: row;
  text-align: center;
}
#cont_alianza #img_ali1 {
  margin-bottom: 3vw;
}
@media only screen and (max-width: 768px) {
  #cont_alianza #img_ali1 {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 769px) {
  #cont_alianza #img_ali1 {
    margin-left: 20vw;
  }
}
#cont_alianza #img_ali2 {
  height: 240px;
  margin-bottom: 3vw;
}
@media only screen and (max-width: 768px) {
  #cont_alianza #img_ali2 {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 769px) {
  #cont_alianza #img_ali2 {
    margin-right: 20vw;
  }
}

#integrantes {
  background-color: #d8d8d8;
}
#integrantes #cont_integrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#integrantes #title_integrantes {
  margin-top: 3.5vw;
  font-size: 40px;
  font-weight: 600;
  color: #0f2441;
}
#integrantes .cont_card_integrantes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#integrantes .card_integrantes1 {
  margin-top: 2vw;
  width: 283px;
  height: 339px;
  margin-bottom: 5vw;
  margin-left: 112px;
}
@media only screen and (max-width: 768px) {
  #integrantes .card_integrantes1 {
    margin-left: 0px;
  }
}
#integrantes .card_integrantes2 {
  margin-top: 2vw;
  width: 283px;
  height: 339px;
  margin-bottom: 5vw;
  margin-right: 121px;
}
@media only screen and (max-width: 768px) {
  #integrantes .card_integrantes2 {
    margin-right: 0px;
  }
}
#integrantes .lin_integrantes {
  width: 100%;
  height: 8px;
  background-color: #0f2441;
  margin-bottom: 0px;
}
#integrantes .img_integrantes1 {
  background-image: url("../image/layer-36_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
}
#integrantes .img_integrantes2 {
  background-image: url("../image/layer-40@3x.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
#integrantes .text_img {
  color: white;
  margin-bottom: 0.5vw;
}

.fondo_testimonios {
  background-image: url("../image/mereces_abogados_confiables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo_testimonios #cont_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo_testimonios #title_testimonios {
  font-size: 25px;
  font-weight: 600;
  color: #e9e600;
  margin-top: 2vw;
}
.fondo_testimonios #contenedor_testimonios {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fondo_testimonios #lin_testimonios {
  height: 33px;
  width: 4px;
  background-color: #e9e600;
  margin-left: 80px;
}
.fondo_testimonios #subtitle_testimonios {
  font-weight: 600;
  color: white;
  margin-left: 2vw;
  font-size: 1.89vw;
}
@media only screen and (max-width: 768px) {
  .fondo_testimonios #subtitle_testimonios {
    font-size: 19px;
  }
}
.fondo_testimonios .cont_testimonio {
  background-color: white;
  margin-top: 1.5vw;
  margin-bottom: 2vw;
  width: 650px;
}
.fondo_testimonios .testimonio {
  margin-top: 1.5vw;
  margin-bottom: 2vw;
  text-align: left;
  color: #464646;
}
.fondo_testimonios .autor {
  margin-bottom: 0.2vw;
  text-align: left;
  color: #464646;
}
.fondo_testimonios .posicion {
  font-size: 12px;
  text-align: left;
  color: #464646;
  margin-bottom: 1.5vw;
}

.contactanos #lin_contacto {
  width: 0.19vw;
  height: 3.5vw;
  background-color: #e9e600;
}
.contactanos #title_contacto {
  font-size: 2.5vw;
  font-weight: 650;
  margin-left: 1.5vw;
  margin-bottom: 0px;
  color: #0f2441;
}
.contactanos #cont_title_contacto {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactanos #title_empresa {
  width: 17vw;
  margin-left: 2.8vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
}
.contactanos .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5vw;
}
.contactanos .text_contacto {
  margin-bottom: 0px;
  margin-left: 1vw;
  color: #464646;
}
.contactanos .non_contacto {
  margin-bottom: 0px;
  margin-left: 1vw;
  color: #464646;
}
.contactanos .icon_contacto {
  font-size: 2.5vw;
  color: #464646;
}
.contactanos .contacto {
  margin-bottom: 3vw;
  margin-top: 3vw;
}
.contactanos .contenedor_datos {
  z-index: 1;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}
.contactanos .contenedor_datos .container {
  margin-left: 1vw;
  margin-right: 3vw;
}
.contactanos .mapa_ubicacion {
  padding-left: 0vw;
  padding-right: 0vw;
}
.contactanos #mapa {
  height: 100%;
  width: 100%;
}

.atencion {
  background-color: #d8d8d8;
}
.atencion #text1_atencion {
  margin-top: 2vw;
  text-align: right;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
}
.atencion #text2_atencion {
  text-align: right;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
}
.atencion #text3_atencion {
  margin-top: 1vw;
  text-align: right;
  font-size: 1.5vw;
  font-weight: 700;
  color: #0f2441;
  margin-bottom: 3vw;
}
.atencion #social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.atencion .social_atencion {
  display: block;
  margin: auto;
}
.atencion .vl_icon {
  width: 0.15vw;
  height: 4vw;
  background-color: #0f2441;
  margin-left: 1.8vw;
}
.atencion #icon_email {
  font-size: 2.3vw;
  color: #0f2441;
  padding: 0;
}
.atencion #icon_face {
  margin-left: 1.8vw;
  font-size: 1.5vw;
  color: #0f2441;
  padding: 0;
}
.atencion #icon_what {
  margin-left: 1.8vw;
  font-size: 2vw;
  color: #0f2441;
  padding: 0;
}

.footer {
  color: white;
  background-color: #0f2441;
  font-size: 1.5vw;
  font-weight: 600;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo_info {
  background-image: url("../image/foto_1_slider.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fondo_info #cont_qs {
  background-color: #2e3f55e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fondo_info #pregunta {
  color: white;
  font-size: 3vw;
  font-weight: 600;
  margin-top: 15vw;
  margin-bottom: 20vw;
  margin-left: 4vw;
}
.fondo_info #text_qs {
  background-color: rgba(226, 226, 226, 0.87);
}
.fondo_info #title_text_qs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
  font-size: 1.9vw;
  font-weight: 750;
}
.fondo_info .text1_qs {
  font-size: 1.5vw;
  font-weight: 500;
  color: #464646;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fondo_info .cont_text1_qs {
  width: 53vw;
  margin-left: 2vw;
}

.cont_mv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.cont_mv .title_mv {
  font-size: 3vw;
  color: #0f2441;
  margin-top: 2vw;
}
.cont_mv .text_mv {
  margin-top: 1vw;
  font-size: 1.5vw;
  font-weight: 600;
  color: #0f2441;
  margin-bottom: 2vw;
  width: 69vw;
}
.cont_mv #logo_mv {
  height: 7vw;
}

.equipo {
  background-image: url("../image/fondo_nuestro_equipo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipo #title_equipo {
  background-color: white;
  width: 35vw;
  height: 7vw;
  font-size: 3vw;
  font-weight: 480;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f2441;
  margin-bottom: 2.5vw;
}
.equipo .fondo_col1 {
  background-color: #2e3f55e3;
  display: flex;
  justify-content: center;
}
.equipo .contenedor_integrante {
  margin-top: 6.5vw;
  width: 30vw;
  height: 37vw;
  margin-bottom: 6vw;
  margin-left: 6vw;
}
@media only screen and (max-width: 576px) {
  .equipo .contenedor_integrante {
    margin-left: 0vw;
  }
}
.equipo .foto_integrante {
  background-image: url("../image/foto_nuestro_equipo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.equipo .line_superior_foto {
  height: 0.5vw;
  width: 100%;
  background-color: #e9e600;
}
.equipo .nombre_posicion_integrante {
  color: white;
  font-size: 2vw;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1vw;
}
.equipo .fondo_col2 {
  padding-left: 0vw;
}
@media only screen and (max-width: 576px) {
  .equipo .fondo_col2 {
    padding-left: 15px;
    display: flex;
    justify-content: center;
  }
}
.equipo .presentacion_integrante {
  background-color: white;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 37vw;
  margin-top: 6.5vw;
}
@media only screen and (max-width: 576px) {
  .equipo .presentacion_integrante {
    margin-right: 0vw;
    margin-top: 0vw;
  }
}
.equipo .contenedor_texto_presentacion {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.equipo .texto_presentacion {
  width: 42vw;
  margin-bottom: 1vw;
}
.equipo .fondo_col3 {
  padding-right: 0vw;
}
@media only screen and (max-width: 576px) {
  .equipo .fondo_col3 {
    padding-right: 15px;
    display: flex;
    justify-content: center;
  }
}
.equipo .presentacion_integrante2 {
  background-color: white;
  position: absolute;
  right: 0;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 37vw;
  margin-top: 6.5vw;
}
@media only screen and (max-width: 576px) {
  .equipo .presentacion_integrante2 {
    position: relative;
    margin-left: 0vw;
    display: flex;
    justify-content: center;
  }
}
.equipo .fondo_col4 {
  background-color: #2e3f55e3;
  display: flex;
  justify-content: center;
}
.equipo .contenedor_integrante2 {
  margin-top: 6.5vw;
  width: 30vw;
  height: 37vw;
  margin-bottom: 6vw;
  margin-right: 6vw;
}
@media only screen and (max-width: 576px) {
  .equipo .contenedor_integrante2 {
    margin-right: 0vw;
  }
}
.equipo .foto_integrante2 {
  background-image: url("../image/foto_nuestro_equipo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.servicios {
  background-image: url("../image/foto_te_ayudamos_en.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios .titulo_servicios {
  font-size: 3.5vw;
  font-weight: 700;
  color: #0f2441;
  margin-top: 2vw;
}
.servicios .subtitulo_servicios {
  font-size: 1.9vw;
  color: #0f2441;
}
.servicios .parrafo_servicios {
  text-align: center;
  width: 64vw;
  font-size: 1.5vw;
  font-weight: 700;
  color: #464646;
  margin-top: 3vw;
  margin-bottom: 4vw;
}

.actos_notariales_primera_seccion {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actos_notariales_primera_seccion .linv_actos_notariales {
  width: 0.2vw;
  height: 6vw;
  background-color: #e9e600;
  margin-left: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.actos_notariales_primera_seccion .titulo_actos_notariales {
  font-size: 3vw;
  font-weight: 700;
  color: #0f2441;
  margin-left: 1vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.actos_notariales_primera_seccion .logo_actos_notariales {
  height: 6vw;
  margin-left: 2vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.seccion_1 .col1_asesoramiento_societario {
  background-image: linear-gradient(135deg, #d1d5db, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion_1 .col1_asesoramiento_societario .titulo_asesoramiento_societario {
  font-size: 2.5vw;
  color: #0f2441;
  margin-top: 4vw;
  margin-left: 5vw;
}
.seccion_1 .col1_asesoramiento_societario .texto_asesoramiento_societario {
  width: 51vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.seccion_1 .col1_asesoramiento_societario .parrafo_asesoramiento_societario {
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.seccion_1 .col1_asesoramiento_societario .texto {
  margin-left: 1vw;
}
.seccion_1 .fondo_asesoramiento_societario {
  background-image: url("../image/provisional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 48vw;
}

.seccion_2 .col2_asesoramiento_inmobiliario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion_2 .col2_asesoramiento_inmobiliario .titulo_asesoramiento_inmobiliario {
  font-size: 2.5vw;
  color: #0f2441;
  margin-top: 4vw;
  margin-left: 5vw;
  text-align: center;
  width: 38vw;
}
.seccion_2 .col2_asesoramiento_inmobiliario .texto_asesoramiento_inmobiliario {
  width: 51vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.seccion_2 .col2_asesoramiento_inmobiliario .parrafo_asesoramiento_inmobiliario {
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.seccion_2 .col2_asesoramiento_inmobiliario .texto {
  margin-left: 1vw;
}
.seccion_2 .fondo_asesoramiento_inmobiliario {
  background-image: url("../image/provisional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vw;
}

.seccion_3 .col1_asesoramiento_legal {
  background-image: linear-gradient(135deg, #d1d5db, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion_3 .col1_asesoramiento_legal .titulo_asesoramiento_legal {
  font-size: 2.5vw;
  color: #0f2441;
  margin-top: 4vw;
  margin-left: 5vw;
  width: 40vw;
  text-align: center;
}
.seccion_3 .col1_asesoramiento_legal .texto_asesoramiento_legal {
  width: 51vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.seccion_3 .col1_asesoramiento_legal .parrafo_asesoramiento_legal {
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.seccion_3 .col1_asesoramiento_legal .texto {
  margin-left: 1vw;
}
.seccion_3 .fondo_asesoramiento_legal {
  background-image: url("../image/provisional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 48vw;
}

.procesos_judiciales_primera_seccion {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.procesos_judiciales_primera_seccion .linv_procesos_judiciales {
  width: 0.2vw;
  height: 6vw;
  background-color: #e9e600;
  margin-left: 5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.procesos_judiciales_primera_seccion .titulo_procesos_judiciales {
  font-size: 3vw;
  font-weight: 700;
  color: #0f2441;
  margin-left: 1vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.procesos_judiciales_primera_seccion .logo_procesos_judiciales {
  height: 6vw;
  margin-left: 2vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.seccion_4 .col2_asesoria_laboral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion_4 .col2_asesoria_laboral .titulo_asesoria_laboral {
  font-size: 2.5vw;
  color: #0f2441;
  margin-top: 4vw;
  margin-left: 5vw;
  text-align: center;
  width: 38vw;
}
.seccion_4 .col2_asesoria_laboral .texto_asesoria_laboral {
  width: 51vw;
  margin-top: 1vw;
  margin-bottom: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.seccion_4 .col2_asesoria_laboral .parrafo_asesoria_laboral {
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.seccion_4 .col2_asesoria_laboral .texto {
  margin-left: 1vw;
}
.seccion_4 .fondo_asesoria_laboral {
  background-image: url("../image/provisional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vw;
}

.seccion_5 .col1_asesoria_civil {
  background-image: linear-gradient(135deg, #d1d5db, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion_5 .col1_asesoria_civil .titulo_asesoria_civil {
  font-size: 2.5vw;
  color: #0f2441;
  margin-top: 4vw;
  margin-left: 5vw;
}
.seccion_5 .col1_asesoria_civil .texto_asesoria_civil {
  width: 51vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.seccion_5 .col1_asesoria_civil .parrafo_asesoria_civil {
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.seccion_5 .col1_asesoria_civil .texto {
  margin-left: 1vw;
}
.seccion_5 .fondo_asesoramiento_societario {
  background-image: url("../image/provisional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vw;
}

.seccion_6 .col2_asesoria_familia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion_6 .col2_asesoria_familia .titulo_asesoria_familia {
  font-size: 2.5vw;
  color: #0f2441;
  margin-top: 4vw;
  margin-left: 5vw;
  text-align: center;
  width: 38vw;
}
.seccion_6 .col2_asesoria_familia .texto_asesoria_familia {
  width: 51vw;
  margin-top: 1vw;
  margin-bottom: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.seccion_6 .col2_asesoria_familia .parrafo_asesoria_familia {
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.seccion_6 .col2_asesoria_familia .texto {
  margin-left: 1vw;
}
.seccion_6 .fondo_asesoria_familia {
  background-image: url("../image/provisional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vw;
}

.fondo_consultoria {
  background-image: url("../image/mereces_abogados_confiables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondo_consultoria .titulo_consultoria {
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
  margin-top: 6vw;
}
.fondo_consultoria .texto_consultoria {
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  text-align: center;
  width: 59vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.cabecera_contacto {
  background-image: url("../image/foto_contacto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cabecera_contacto .pregunta {
  color: white;
  font-size: 4vw;
  font-weight: 700;
  text-align: right;
  margin-right: 5vw;
  margin-top: 2.5vw;
}
.cabecera_contacto .titulo_empresa {
  color: white;
  font-size: 2.5vw;
  font-weight: 700;
  width: 25vw;
  text-align: center;
  margin-right: 5vw;
  margin-bottom: 12vw;
  margin-top: 2vw;
}

.contenedor_formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_formulario .formulario {
  margin-top: 3vw;
}
.contenedor_formulario .recuadro {
  margin-top: 1vw;
}
.contenedor_formulario .input {
  width: 41vw;
  height: 3vw;
  font-size: 1.5vw;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
}
.contenedor_formulario textarea {
  width: 41vw;
  min-height: 10vw;
  font-weight: 500;
  font-size: 1.5vw;
}
.contenedor_formulario #boton {
  margin-top: 1vw;
  width: 12vw;
  height: 3.5vw;
  background-color: #ffe600;
  border: 0;
  margin-left: 29vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #0f2441;
  margin-bottom: 5vw;
}

/*# sourceMappingURL=estilos.css.map */
