.atencion{
    background-color: $fintegrantes;

    #text1_atencion{
        margin-top: 2vw;
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        color: $texto;
    }
    
    #text2_atencion{
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        color: $texto;
    }
    #text3_atencion{
        margin-top: 1vw;
        text-align: right;
        font-size: 16px;
        font-weight: 700;
        color: $texto;
        margin-bottom: 3vw;
    }
    
    #social{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    
    .social_atencion{
        display:block;
        margin:auto;
    }
    
    .vl_icon{
        width: 2px;
        height: 46px;
        background-color: $texto;
        margin-left: 25px;
    }
    
    #icon_email{
        font-size: 30px;
        color: $texto;
        padding: 0;

        &:hover{
            color: $dorado;
        }
    }
    
    #icon_face{
        margin-left: 25px;
        font-size: 18px;
        color: $texto;
        padding: 0;

        &:hover{
            color: $dorado;
        }
    }
    
    #icon_what{
        margin-left: 26px;
        font-size: 23px;
        color: $texto;
        padding: 0;

        &:hover{
            color: $dorado;
        }
    }
    
}


