.contactanos{
    #lin_contacto{
        width: .19vw;
        height: 3.5vw;
        background-color: $dorado;
    }
    
    #title_contacto{
        font-size: 2.5vw;
        font-weight: 650;
        margin-left: 1.5vw;
        margin-bottom: 0px;
    }
    
    #cont_title_contacto{
        margin-top: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #title_empresa{
        width: 17.5vw;
        margin-left: 2.8vw;
    }
    
    .date{
        display: flex;
        flex-direction: row;
        align-items: center;
    
        margin-bottom: 1.5vw;
    }
    
    .text_contacto{
        margin-bottom: 0px;
        margin-left: 1vw;
        color: $tex-tes;
    }
    
    .non_contacto{
        margin-bottom: 0px;
        margin-left: 1vw;
        color: $tex-tes;
    }
    
    .icon_contacto{
        font-size: 2.5vw;
        color: $tex-tes;
    }
    
    .contacto{
        margin-bottom: 3vw;
        margin-top: 3vw;
    }

    .contenedor_datos{
        z-index: 1;
        box-shadow: 10px 5px 5px $sombra;
        .container{
            margin-left: 1vw;
            margin-right: 3vw;
        }
    }

    .mapa_ubicacion{
        padding-left: 0vw;
        padding-right: 0vw;
    }

    #mapa{
        height: 100%;
        width: 100%;
    }
}




