.cabecera_contacto{
    background-image: url("../image/foto_contacto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pregunta{
        color: white;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-top: 64px;
        margin-bottom: 34px;

        @include for-large-laptop{
            font-size: 30px;
        }
    }

    .titulo_empresa{
        color: white;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        width: 200px;
        margin-bottom: 108px;

        @include for-large-laptop{
            width: 300px;
            font-size: 30px;
        }
    }


}