.informacion{
    .contenedor_pregunta{
        margin-top: 2em;
    }

    .col_linea{
        padding-right: 0px;
    }

    .columna_pregunta{
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: 768px){
            padding-right: 0px;
        }
    }

    .linv{
        height: 25px;
        width: 4px;
        background-color: $dorado;
    }
    
    .pregunta{
        text-align: justify;
        color: $texto;
        font-weight: 600;
        margin-left: 2.2vw;
        font-size: 1.89vw;

        @media only screen and (max-width: 768px){
            font-size: 19px;
        }
    }
}

.contenedor_texto_informativo{
    .col_texto{
        @media only screen and (max-width: 576px){
            padding-left: 0px;
        }  
    }

    .texto_informacion{
        .info_1{
            margin-bottom: 1vw;
            width: 100%;
            color: $tex-tes;
            font-size: 1em;
            font-weight: 600;
            line-height: 16px;
            text-align: justify;

            @media only screen and (max-width: 576px){
                margin-left: 6px;
            } 

            @media only screen and (max-width: 768px){
                font-size: 15px;
            }
        }
    }
}

.mision_vision{
    p{
        display: flex;
        justify-content: left;
        font-size: 15px;
        font-weight: 500;
        color: $texto;
    }

    .columna_mision{
        padding-left: 0px;
    }

    .columna_vision{
        padding-left: 0px;
    }

    .margen{
        padding-right: 0px;
    }
    
    .cont-stitle{
        display: flex;
        flex-direction: row;
        margin-top: 5.5vw;
        color: $texto;
    }
    
    .vertl{
        height: 22px;
        width: 4px;
        background-color: $texto;
        justify-content: center;
    }
    
    .title{
        font-size: 17px;
        font-weight: 600;
        margin-left: 2.2vw;
        margin-right: 3vw;
    }
    
    .parrafo{
        color: $tex-tes;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        text-align: justify;
        margin-left: 2.6vw;
    }
    

}



