.informacion{

    .titulo{
        display: flex;
        flex-direction: row;
        margin-top: 65px;
        align-items: center;
        margin-bottom: 19px;
    }
    
    .linea_pregunta{
        width: 4px;
        height: 33px;
        background-color: $dorado;
    }

    .pregunta{
        font-size: 23.8px;
        font-weight: 600;
        color: $texto;
        margin-left: 32px;
    }

    .texto_1{
        font-size: 15px;
        font-weight: 600;
        color: $tex-tes;
        text-align: justify;
        margin-left: 36px;
        margin-bottom: 12px;
    }

    .subtitulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 41px;
    }

    .linea_motiv{
        width: 4px;
        height: 33px;
        background-color: $texto;
    }

    .titulo_motiv{
        font-size: 23.8px;
        font-weight: 600;
        color: $texto;
        margin-left: 32px;
    }

    .texto_motiv{
        font-size: 15px;
        font-weight: 600;
        color: $tex-tes;
        text-align: justify;
        margin-left: 36px;
        margin-bottom: 12px;
    }   
}