.informacion{
    display: flex;
    justify-content: center;

    .linv{
        height: 25px;
        width: 3.5px;
        background-color: $dorado;
        margin-top: .5vw;
    }
    
    .pregunta{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 19.7px;
        color: $texto;
        font-weight: 600;
        margin-left: 2.5vw;
        margin-right: 3vw;
    }
    
    .titulo{
        display: flex;
        flex-direction: row;
        margin-top: 5.5vw;
    }
}

.texto_informacion{
    .info_1{
        margin-bottom: 1vw;
        width: 100%;
        color: $tex-tes;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        text-align: justify;
    }
}

.mision_vision{
    p{
        display: flex;
        justify-content: left;
        font-size: 15px;
        font-weight: 500;
        color: $texto;
    }
    
    .cont-stitle{
        display: flex;
        flex-direction: row;
        margin-top: 5.5vw;
        color: $texto;
    }
    
    .vertl{
        height: 22px;
        width: 4px;
        background-color: $texto;
        justify-content: center;
    }
    
    .title{
        font-size: 15px;
        font-weight: 600;
        margin-left: 2.2vw;
        margin-right: 3vw;
    }
    
    .parrafo{
        color: $tex-tes;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        text-align: justify;
        margin-left: 2.2vw;
    }
    

}



