#integrantes{
    background-color: $fintegrantes;

    #cont_integrantes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #title_integrantes{
        margin-top: 3.5vw;
        font-size: 40px;
        font-weight: 600;
        color: $texto;
    }
    
    .cont_card_integrantes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .card_integrantes1{
        margin-top: 2vw;
        width: 283px;
        height: 339px;
        margin-bottom: 5vw;
        margin-left: 112px;

        @media only screen and (max-width: 768px){
            margin-left: 0px;
        }
    }

    .card_integrantes2{
        margin-top: 2vw;
        width: 283px;
        height: 339px;
        margin-bottom: 5vw;
        margin-right: 121px;

        @media only screen and (max-width: 768px){
            margin-right: 0px;
        }
    }
    
    .lin_integrantes{
        width: 100%;
        height: 8px;
        background-color: $texto;
        margin-bottom: 0px;
    }
    
    .img_integrantes1{
        background-image: url("../image/layer-36_3.png");
        background-repeat: no-repeat; 
        background-size: cover;
        height: 100%;
        width: 100%;  
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        margin-top: 0px;
    }

    .img_integrantes2{
        background-image: url("../image/layer-40@3x.png");
        background-repeat: no-repeat; 
        background-size: cover;
        height: 100%;
        width: 100%;  
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }
    
    .text_img{
        color: white;
        margin-bottom: .5vw;
    }
}

