.mision_vision{
    text-align: center;

    .titulo_mision{
        font-size: 20px;
        color: $texto;
        margin-top: 44px;
        margin-bottom: 21px;
    }

    .texto_mision{
        font-size: 12px;
        color: $tex-tes;
        margin: 0 30px;
    }

    img{
        height: 47px;
        margin-top: 27px;
        margin-bottom: 19px;
    }

    .titulo_vision{
        font-size: 20px;
        color: $texto;
        margin-bottom: 20px;
    }

    .texto_vision{
        font-size: 12px;
        color: $tex-tes;
        margin: 0 30px;
    }
}

@include for-tablet{
    .mision_vision{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .texto_mision{
            font-size: 15px;
            width: 794px;
        }

        .texto_vision{
            font-size: 15px;
            color: $tex-tes;
            width: 794px;
            margin-bottom: 63px;
        }
    }
}
    


