nav a img{
    margin: 0;
    padding: 0;
    margin-top: 3vw;
    margin-left: 4vw;
    height: 12vw;
}

#item-menu{
    margin-top: 7vw;
    margin-left: 4vw;
}

#opcion-menu{
    margin-right: 5vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: $texto;
    &:hover{
        color: $dorado;
    }
}

#navbarDropdown{
    margin-right: 5vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: $texto;
    &:hover{
        color: $dorado;
    }
}

#social{
    margin-right: 4vw;
}

.dropdown-item{
    font-weight: 600;
    font-size: 1.2vw;
    color: $tex-tes;
    &:hover{
        color: $texto;
    }
}

#cont-smenu{
    width: 17vw;
    margin-left: .5vw;
    margin-top: 3.5vw;
    background-color: $smenu;
}

#item-smenu{
    font-size: 1.2vw;
    font-weight: 600;
    color: $tex-tes;
}





