.prod{
    position: relative;

    .img_fondo{
      background-image: url("../image/foto_te_ayudamos_en.png");
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover;
      height: 350px;
      position: relative;

      @include for-small-mobile{
          margin-bottom: 500px;
      }

      @include for-medium-mobile{
        margin-bottom: 510px;
      }

      @include for-large-mobile{
        margin-bottom: 520px;
      }

      @include for-tablet{
        margin-bottom: 150px;
      }

      @include for-laptop{
        margin-bottom: 170px;
      }

      @include for-large-laptop{
        margin-bottom: 200px;
      }

      @include for-4k-laptop{
        margin-bottom: 80px;
      }
    }


  #cont_text_prod{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  
  .title_prod{
      font-size: 30px;
      font-weight: 600;
      margin-top: 2vw;
      margin-bottom: 1vw;
      color: $texto;
  }
  
  #text_prod{
      margin-bottom: 1vw;
      font-size: 1em;
      font-weight: 600;
      line-height: 16px;
      color: $tex-tes;

      @media only screen and (max-width: 768px){
        font-size: 15px;
    }
  }
  
  #cards{
      bottom: 0;
      position: absolute;
      height: 200px;
  }
  
  .cont_card{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .card{
      width: 274px;
      height: 285px;
      margin-top: 40px;
      box-shadow: 10px 5px 5px $sombra;
      margin-right: 15px;

      &:hover{
        background-color: $dorado;
      }

      @include for-large-mobile{
        margin-top: 50px;
    }
  }
  
  .lin{
      width: 3px;
      height: 100%;
      background-color: $dorado;
      position: absolute;
  }
  
  .text{
      display: flex;
      flex-direction: column;
      font-size: 20px;
      color: $texto;
      text-align: center;
      margin-top: 3vw;
      font-weight: 500;
  }
  
  .logo_card{
      width: 100px;
      margin-top: 2vw;
  }
  
  .icon_card{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}


