.columna_quienes_somos{
    background-image: url("../image/foto_1_slider.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .titulo_quienes_somos{
        font-weight: 600;
        font-size: 22px;
        color: white;
        text-align: center;
        background-color: $texto_o;
        margin:0 -15px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
}

@include for-tablet{
    .contenedor_quienes_somos{
        background-image: url("../image/foto_1_slider.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .columna_quienes_somos{
            background-image: none;
        }
          
        .titulo_quienes_somos{
            font-weight: 600;
            font-size: 30px;
            color: white;
            text-align: center;
            margin:0 -15px;
            padding-top: 165px;
            height: 100%;
            padding-left: 50px;
        }
    }
}

.subtitulo_quienes_somos{
    font-size: 18px;
    font-weight: 700;
    color: $texto;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 21px;
}

.parrafo_quienes_somos{
    font-size: 12px;
    color: $tex-tes;
    text-align: justify;
    margin: 5px 15px;
}

@include for-tablet{
    .texto_quienes_somos{
        background-color: $smenu;
    }

    .subtitulo_quienes_somos{
        text-align: left;
        margin-left: 10px;
        padding-bottom: 6px;
        padding-top: 74px;
    }

    .contenedor_parrafo{
        margin-left: 10px;
        margin-right: 103px;
        margin-bottom: 78px;

        .parrafo_quienes_somos{
            font-size: 13px;
            color: $tex-tes;
            text-align: justify;
            margin: 5px 0;
        }
    }   
}