.servicios{
    background-image: url("../image/layer-3_3x.png");
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo_servicios{
        font-size: 18px;
        font-weight: 700;
        color: $texto;
        margin-top: 50px;
        margin-bottom: 20px;

        @include for-large-laptop{
            font-size: 30px;
        }
    }

    .subtitulo_servicios{
        font-size: 15px;
        color: $texto;
        margin-bottom: 40px;

        @include for-large-laptop{
            font-size: 25px;
        }
    }

    .parrafo_servicios{
        text-align: center;
        padding: 0px;
        font-size: 12px;
        font-weight: 700;
        color: $tex-tes;
        margin-bottom: 62px;

        @include for-tablet{
            font-size: 15px;
            padding: 0 75px;
        }

        @include for-laptop{
            font-size: 15px;
            padding: 0;
            width: 590px;
        }

        @include for-large-laptop{
            font-size: 25px;
            width: 700px;
        }

    }
}

.actos_notariales_primera_seccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include for-large-laptop{
        justify-content: left;

    }

    .titulo_actos_notariales{
        font-size: 15px;
        font-weight: 700;
        color: $texto;
        border-left: 4px solid $dorado;
        padding-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;

        @include for-tablet{
            font-size: 20px;
        }

        @include for-large-laptop{
            font-size: 37px;
            padding: 0 75px;
            margin-left: 140px;
        }
    }

    .logo_actos_notariales{
        margin-left: 20px;
        height: 39px;

        @include for-large-laptop{
            height: 72px;
        }
    }

}

.seccion_1{
    .col1_asesoramiento_societario{
        background-image: linear-gradient(135deg, $azul_color_gradient, white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoramiento_societario{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;

            @include for-large-laptop{
                font-size: 25px;
            }
        }

        .texto_asesoramiento_societario{
            margin-bottom: 67px;
            width: 100%;
            
        }

        .parrafo_asesoramiento_societario{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $dorado;

            @include for-laptop{
                font-size: 15px;
                margin-left: 115px;
            }

            @include for-large-laptop{
                font-size: 20px;
                margin-left: 20%;
            }

        }

        .texto{
            font-size: 12px;
            color: $texto;
            text-align: justify;

            @include for-tablet{
                margin-left: 5px;
            }

            @include for-laptop{
                font-size: 13px;
                margin-right: 15px;
            }

            @include for-large-laptop{
                font-size: 20px;
            }

            @include for-4k-laptop{
                margin-right: 20%;
            }
        }
    }

    .fondo_asesoramiento_societario{
        padding: 0;

        .imagen_asesoramiento_societario{
            width: 100%;
            height: 100%;
            border-left: 4px solid $dorado;
        }
    }
}

.seccion_2{
    .col2_asesoramiento_inmobiliario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoramiento_inmobiliario{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;

            @include for-large-laptop{
                font-size: 25px;
            }
        }

        .texto_asesoramiento_inmobiliario{
            margin-bottom: 67px;
            width: 100%;
        }

        .parrafo_asesoramiento_inmobiliario{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $dorado;

            @include for-laptop{
                font-size: 15px;
                margin-left: 15px;
            }

            @include for-large-laptop{
                font-size: 20px;
            }
        }

        .texto{
            font-size: 12px;
            color: $texto;
            text-align: justify;

            @include for-tablet{
                margin-left: 5px;
            }

            @include for-laptop{
                font-size: 13px;
                margin-right: 115px;
            }

            @include for-large-laptop{
                font-size: 20px;
                margin-right: 20%;
            }

            @include for-4k-laptop{
                margin-right: 20%;
            }
        }
    }

    .fondo_asesoramiento_inmobiliario{
        padding: 0;

        .imagen_asesoramiento_inmobiliario{
            width: 100%;
            height: 100%;
            border-right: 4px solid $dorado;
        }
    }
}

.seccion_3{
    .col1_asesoramiento_legal{
        background-image: linear-gradient(135deg, $azul_color_gradient, white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoramiento_legal{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;

            @include for-large-laptop{
                font-size: 25px;
            }
        }

        .texto_asesoramiento_legal{
            margin-bottom: 67px;
            width: 100%;
        }

        .parrafo_asesoramiento_legal{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $dorado;

            @include for-laptop{
                font-size: 15px;
                margin-left: 115px;
            }

            @include for-large-laptop{
                font-size: 20px;
                margin-left: 20%;
            }
        }

        .texto{
            font-size: 12px;
            color: $texto;
            text-align: justify;

            @include for-tablet{
                margin-left: 5px;
            }

            @include for-laptop{
                font-size: 13px;
                margin-right: 15px;
            }

            @include for-large-laptop{
                font-size: 20px;
            }

            @include for-4k-laptop{
                margin-right: 20%;
            }
        }
    }

    .fondo_asesoramiento_legal{
        padding: 0;

        .imagen_asesoramiento_legal{
            width: 100%;
            height: 100%;
            border-left: 4px solid $dorado;
        }
    }
}

.procesos_judiciales_primera_seccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include for-large-laptop{
        justify-content: left;

    }

    .titulo_procesos_judiciales{
        font-size: 15px;
        font-weight: 700;
        color: $texto;
        border-left: 4px solid $texto;
        padding-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 15px;

        @include for-tablet{
            font-size: 20px;
        }

        @include for-large-laptop{
            font-size: 37px;
            padding: 0 75px;
            margin-left: 140px;
        }
    }

    .logo_procesos_judiciales{
        margin-left: 10px;
        height: 39px;
        margin-right: 15px;

        @include for-large-laptop{
            height: 72px;
        }
    }
}

.seccion_4{
    .col2_asesoria_laboral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoria_laboral{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;
            
            @include for-large-laptop{
                font-size: 25px;
            }
        }

        .texto_asesoria_laboral{
            margin-bottom: 67px;
            width: 100%;
        }

        .parrafo_asesoria_laboral{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $texto;

            @include for-laptop{
                font-size: 15px;
                margin-left: 15px;
            }

            @include for-large-laptop{
                font-size: 20px;
            }
        }

        .texto{
            font-size: 12px;
            color: $texto;
            text-align: justify;

            @include for-tablet{
                margin-left: 5px;
            }

            @include for-laptop{
                font-size: 13px;
                margin-right: 115px;
            }

            @include for-large-laptop{
                font-size: 20px;
                margin-right: 20%;
            }

            @include for-4k-laptop{
                margin-right: 20%;
            }
        }
    }

    .fondo_asesoria_laboral{
        padding: 0;
        
        .imagen_asesoria_laboral{
            width: 100%;
            height: 100%;
            border-right: 4px solid $texto;
        }
    }
}

.seccion_5{
    .col1_asesoria_civil{
        background-image: linear-gradient(135deg, $azul_color_gradient, white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoria_civil{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;

            @include for-large-laptop{
                font-size: 25px;
            }
        }

        .texto_asesoria_civil{
            margin-bottom: 67px;
            width: 100%;
        }

        .parrafo_asesoria_civil{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $texto;

            @include for-laptop{
                font-size: 15px;
                margin-left: 115px;
            }

            @include for-large-laptop{
                font-size: 20px;
                margin-left: 20%;
            }
        }

        .texto{
            font-size: 12px;
            color: $texto;
            text-align: justify;

            @include for-tablet{
                margin-left: 5px;
            }

            @include for-laptop{
                font-size: 13px;
                margin-right: 15px;
            }

            @include for-large-laptop{
                font-size: 20px;
            }

            @include for-4k-laptop{
                margin-right: 20%;
            }
        }
    }

    .fondo_asesoramiento_societario{
        padding: 0;
        
        .imagen_asesoria_civil{
            width: 100%;
            height: 100%;
            border-left: 4px solid $texto;
        }
    }
}

.seccion_6{
    .col2_asesoria_familia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoria_familia{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;
            
            @include for-large-laptop{
                font-size: 25px;
            }
        }

        .texto_asesoria_familia{
            margin-bottom: 67px;
            width: 100%;
        }

        .parrafo_asesoria_familia{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $texto;

            @include for-laptop{
                font-size: 15px;
                margin-left: 15px;
            }

            @include for-large-laptop{
                font-size: 20px;
            }
        }


        .texto{
            font-size: 12px;
            color: $texto;
            text-align: justify;

            @include for-tablet{
                margin-left: 5px;
            }

            @include for-laptop{
                font-size: 13px;
                margin-right: 115px;
            }

            @include for-large-laptop{
                font-size: 20px;
                margin-right: 20%;
            }

            @include for-4k-laptop{
                margin-right: 20%;
            }
        }
    }

    .fondo_asesoria_familia{
        padding: 0;
        
        .imagen_asesoria_familia{
            width: 100%;
            height: 100%;
            border-right: 4px solid $texto;
        }
    }
}

.fondo_consultoria{
    background-image: url("../image/mereces_abogados_confiables.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .titulo_consultoria{
        font-size: 18px;
        font-weight: 700;
        color: white;
        margin-top: 50px;
        margin-bottom: 20px;

        @include for-large-laptop{
            font-size: 30px;
        }
    }

    .texto_consultoria{
        text-align: center;
        padding: 0px;
        font-size: 12px;
        font-weight: 700;
        color: white;
        margin-bottom: 62px;

        @include for-tablet{
            font-size: 15px;
            padding: 0 75px;
        }

        @include for-laptop{
            font-size: 15px;
            padding: 0;
            width: 590px;
        }

        @include for-large-laptop{
            font-size: 25px;
            width: 700px;
        }
    }
}