.servicios{
    background-image: url("../image/layer-3_3x.png");
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo_servicios{
        font-size: 18px;
        font-weight: 700;
        color: $texto;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .subtitulo_servicios{
        font-size: 15px;
        color: $texto;
        margin-bottom: 40px;
    }

    .parrafo_servicios{
        text-align: center;
        padding: 0 80px;
        font-size: 12px;
        font-weight: 700;
        color: $tex-tes;
        margin-bottom: 62px;

        @include for-laptop{
            font-size: 15px;
        }

    }
}

.actos_notariales_primera_seccion{
    display: flex;
    flex-direction: row;
    align-items: center;

    .linv_actos_notariales{
        width: 5px;
        height: 31px;
        background-color: $dorado;
        margin: 30px 0;
        margin-left: 29px;
        
    }

    .titulo_actos_notariales{
        font-size: 20px;
        font-weight: 700;
        color: $texto;
        margin-left: 35px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .logo_actos_notariales{
        height: 39px;
        margin-left: 69px;
    }
}

.seccion_1{
    .col1_asesoramiento_societario{
        background-image: linear-gradient(135deg, $azul_color_gradient, white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoramiento_societario{
        font-size: 19px;
        color: $texto;
        text-align: center;
        margin-top: 39px;
        margin-bottom: 21px;
        }

        .texto_asesoramiento_societario{
            margin-bottom: 67px;
        }

        .parrafo_asesoramiento_societario{
        display: flex;
        flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $dorado;
            margin-left: 45px;
        }

        .texto{
            font-size: 12px;
            color: $texto;
            margin-right: 61px;
            margin-left: 13px;
            text-align: justify;

            @include for-laptop{
                font-size: 15px;
            }
        }
    }

    .fondo_asesoramiento_societario{
        background-image: url("../image/layer-10_3x.png");
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;

        .linea_asesoramiento_societario{
            width: 5px;
            height: 258px;
            background-color: $dorado;
            margin-left: -15px;

            @include for-tablet{
                height: 100%;
            }
        }
    }
}

.seccion_2{
    .col2_asesoramiento_inmobiliario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoramiento_inmobiliario{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;
        }

        .texto_asesoramiento_inmobiliario{
            margin-bottom: 67px;
        }

        .parrafo_asesoramiento_inmobiliario{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $dorado;
            margin-left: 45px;
        }

        .texto{
            font-size: 12px;
            color: $texto;
            margin-right: 61px;
            margin-left: 13px;
            text-align: justify;

            @include for-laptop{
                font-size: 15px;
            }
        }
    }

    .fondo_asesoramiento_inmobiliario{
        background-image: url("../image/layer-13_3x.png");
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: end;

        .linea_asesoramiento_inmobiliario{
            width: 5px;
            height: 258px;
            background-color: $dorado;
            margin-right: -15px;

            @include for-tablet{
                height: 100%;
            }

        }
    }
}

.seccion_3{
    .col1_asesoramiento_legal{
        background-image: linear-gradient(135deg, $azul_color_gradient, white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoramiento_legal{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;
        }

        .texto_asesoramiento_legal{
            margin-bottom: 67px;
        }

        .parrafo_asesoramiento_legal{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $dorado;
            margin-left: 45px;
        }

        .texto{
            font-size: 12px;
            color: $texto;
            margin-right: 61px;
            margin-left: 13px;
            text-align: justify;

            @include for-laptop{
                font-size: 15px;
            }
        }
    }

    .fondo_asesoramiento_legal{
        background-image: url("../image/layer-11_3x.png");
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;

        .linea_asesoramiento_legal{
            width: 5px;
            height: 258px;
            background-color: $dorado;
            margin-left: -15px;

            @include for-tablet{
                height: 100%;
            }
        }
    }
}

.procesos_judiciales_primera_seccion{
    display: flex;
    flex-direction: row;
    align-items: center;

    .linv_procesos_judiciales{
        width: 5px;
        height: 31px;
        background-color: $texto;
        margin: 30px 0;
        margin-left: 29px;
    }

    .titulo_procesos_judiciales{
        font-size: 20px;
        font-weight: 700;
        color: $texto;
        margin-left: 35px;
    }

    .logo_procesos_judiciales{
        height: 39px;
        margin-left: 41px;
    }
}

.seccion_4{
    .col2_asesoria_laboral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoria_laboral{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;
        }

        .texto_asesoria_laboral{
            margin-bottom: 67px;
        }

        .parrafo_asesoria_laboral{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $texto;
            margin-left: 45px;
        }

        .texto{
            font-size: 12px;
            color: $texto;
            margin-right: 61px;
            margin-left: 13px;
            text-align: justify;

            @include for-laptop{
                font-size: 15px;
            }
        }
    }

    .fondo_asesoria_laboral{
        background-image: url("../image/layer-14_3x.png");
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: end;
        
        .linea_asesoria_laboral{
            width: 5px;
            height: 258px;
            background-color: $texto;
            margin-right: -15px;

            @include for-tablet{
                height: 100%;
            }
        }
    }
}

.seccion_5{
    .col1_asesoria_civil{
        background-image: linear-gradient(135deg, $azul_color_gradient, white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoria_civil{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;
        }

        .texto_asesoria_civil{
            margin-bottom: 67px;
        }

        .parrafo_asesoria_civil{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $texto;
            margin-left: 45px;
        }

        .texto{
            font-size: 12px;
            color: $texto;
            margin-right: 61px;
            margin-left: 13px;
            text-align: justify;

            @include for-laptop{
                font-size: 15px;
            }
        }
    }

    .fondo_asesoramiento_societario{
        background-image: url("../image/layer-12_3x.png");
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
        
        .linea_asesoria_civil{
            width: 5px;
            height: 258px;
            background-color: $texto;
            margin-left: -15px;

            @include for-tablet{
                height: 100%;
            }
        }
    }
}

.seccion_6{
    .col2_asesoria_familia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_asesoria_familia{
            font-size: 19px;
            color: $texto;
            text-align: center;
            margin-top: 39px;
            margin-bottom: 21px;
        }

        .texto_asesoria_familia{
            margin-bottom: 67px;
        }

        .parrafo_asesoria_familia{
            display: flex;
            flex-direction: row;
        }

        .bullet{
            font-size: 18px;
            color: $texto;
            margin-left: 45px;
        }


        .texto{
            font-size: 12px;
            color: $texto;
            margin-right: 61px;
            margin-left: 13px;
            text-align: justify;

            @include for-laptop{
                font-size: 15px;
            }
        }
    }

    .fondo_asesoria_familia{
        background-image: url("../image/layer-15_3x.png");
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: end;
        
        .linea_asesoria_familia{
            width: 5px;
            height: 258px;
            background-color: $texto;
            margin-right: -15px;

            @include for-tablet{
                height: 100%;
            }
        }
    }
}

.fondo_consultoria{
    background-image: url("../image/mereces_abogados_confiables.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo_consultoria{
        color: white;
        font-size: 19px;
        font-weight: 600;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .texto_consultoria{
        color: white;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        margin: 0 44px;
        margin-bottom: 42px;

        @include for-laptop{
            font-size: 15px;
        }
    }
}