.fondo_testimonios{
    background-image: url("../image/mereces_abogados_confiables.jpg");
    background-repeat: no-repeat; 
    background-size: cover;

    #cont_title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    #title_testimonios{
        font-size: 25px;
        font-weight: 600;
        color: $dorado;
        margin-top: 2vw;
    }
    
    #contenedor_testimonios{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #lin_testimonios{
        height: 33px;
        width: 4px;
        background-color: $dorado;
        margin-left: 80px;
    }
    
    #subtitle_testimonios{
        font-weight: 600;
        color: white;
        margin-left: 2vw;
        font-size: 1.89vw;

        @media only screen and (max-width: 768px){
            font-size: 19px;
        }
    }
    
    .cont_testimonio{
        background-color: white;
        margin-top: 1.5vw;
        margin-bottom: 2vw;
        width: 650px;
    }
    
    .carousel-testimonio{
    }
    
    .testimonio {
        margin-top: 1.5vw;
        margin-bottom: 2vw;
        text-align: left;
        color: $tex-tes;
    }
    
    .autor{
        margin-bottom: .2vw;
        text-align: left;
        color: $tex-tes;
    }
    
    .posicion{
        font-size: 12px;
        text-align: left;
        color: $tex-tes;
        margin-bottom: 1.5vw;
    }
}


