$texto : #05234d;
$smenu : rgba(226, 226, 226, 0.87);
$dorado : #ffc90b;
$sombra : rgba(0, 0, 0, 0.3);
$fintegrantes: rgb(216, 216, 216);
$tex-tes : rgb(70, 70, 70);
$texto_o : #2e3f55e3;
$azul_color_gradient: rgb(209, 213, 219);
$boton : rgb(255, 230, 0);
